---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  asNumber: {{ calico_bgp_asn }}
{% for pool in calico_ip_pools %}
---
apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: {{ pool.name }}
spec:
  cidr: {{ pool.cidr }}
  ipipMode: Never
  vxlanMode: Never
  natOutgoing: true
  disabled: false
  nodeSelector: all()
  blockSize: {{ pool.blockSize }}
  allowedUses:
    - Workload
    - Tunnel
{% endfor %}
---
apiVersion: crd.projectcalico.org/v1
kind: FelixConfiguration
metadata:
  name: default
spec:
  wireguardEnabled: {{ calico_wg_enabled | default(false) }}
  wireguardEnabledV6: {{ calico_wg_enabled | default(false) }}
  prometheusMetricsEnabled: {{ calico_prometheus_metrics | default(true) }}