apiVersion: v1
kind: ConfigMap
metadata:
  name: kubernetes-services-endpoint
  namespace: tigera-operator
data:
  KUBERNETES_SERVICE_HOST: "10.45.20.1"
  KUBERNETES_SERVICE_PORT: "6443"
---

apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  cni:
    type: Calico
  calicoNetwork:
{% if calico_linux_dataplane %}
    linuxDataplane: {{ calico_linux_dataplane }}
{% endif %}
    bgp: {{ 'Enabled' if calico_bgp else 'Disabled' }}
    nodeAddressAutodetectionV4:
      firstFound: true
    nodeAddressAutodetectionV6:
      firstFound: true
    ipPools:
{% for pool in calico_ip_pools %}
      - cidr: {{ pool.cidr }}
        encapsulation: {{ pool.encapsulation }}
        natOutgoing: {{ pool.natOutgoing }}
        nodeSelector: {{ pool.nodeSelector }}
{% endfor %}
  controlPlaneTolerations:
    - key: node-role.kubernetes.io/master
      operator: Exists
    - key: node-role.kubernetes.io/control-plane
      operator: Exists
---
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: calico-kube-controllers-ipamconfig-workaround
rules:
  - apiGroups: ["crd.projectcalico.org"]
    resources: ["ipamconfigs"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: calico-kube-controllers-ipamconfig-workaround
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: calico-kube-controllers-ipamconfig-workaround
subjects:
  - kind: ServiceAccount
    name: calico-kube-controllers
    namespace: calico-system
